.post-card,
.post-card-destacado {
    width: 420px;
    margin-bottom: 115px;
    line-height: 1.6;
}

.post-card-destacado {
    width: 100%;
}

.post-card img {
    width: 100%;
    height: auto;
    display: block;
    transition: .5s ease-out;
}

.post-card:hover img {
    transform: scale(1.2);
}

.post-card > a {
    display: block;
    overflow: hidden;
}

.post-card aside {
    margin: 30px 0;
    text-transform: uppercase;
    font-size: var(--tamanho-fonte-categoria);
    font-family: var(--fonte-ubuntu);
}

.post-card-destacado aside:first-child {
    margin-top: 100px;
}

.post-card aside:first-of-type {
    margin-bottom: 0;
}

.post-card aside a {
    color: var(--cor-texto-categoria);
}

.post-card aside a:hover {
    color: var(--cor-texto-link);
}

.post-card h2,
.post-card h2 a {
    font-size: var(--tamanho-fonte-titulo);
    color: var(--cor-texto-padrao);
    margin-bottom: 30px;
}

.post-card h2 a:hover {
    opacity: .6;
}

@media (max-width: 1024px) {
    .post-card {
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .post-card-destacado {
        width: 100%;
    }

    .post-card aside {
        margin: 15px 0;
    }
}

@media (max-width: 520px) {
    .post-card {
        width: 100%;
    }
}